/* recipe-card */
.recipe-card {
  width: 150px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(117, 128, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;

  gap: 10px;
  margin-left: 20px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.recipe-card img {
  margin-left: -20px;
}
